.container {
    border-radius: 1rem;
    text-align: center;
    padding: 2rem 0;
}

.current {
    font-size: 3.5rem;
    font-weight: 900;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 1rem;
}
.description {
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 1rem;
    text-align: left;
}

.temperatures {
    display: flex;
    justify-content: start;
    gap: 1rem;
}
.sunny {
    display: flex;
    justify-content: start;
    gap: 2rem;
}

.temperatures p,
.sunny p {
    font-size: 1.5rem;    
    font-weight: 900;
    display: flex;
    align-items: center;
}

.temperatures span,
.sunny span {
    font-weight:400; 
}

@media (min-width:798px) {
    .container {
        margin-top: 3rem;
    }

    .current {
        font-size: 6rem;
    }

    .description {
        font-size: 1.5rem;
        text-align: center;
    }

    .temperatures{
        gap: 2rem;
    }
    .temperatures p, 
    .sunny p {
        font-size: 1.8rem;
    }
}

