.tittle {
    text-align: center;
    font-size: 6rem;
    margin: 2rem 0;
    padding: 1.2rem 0;
}

.container {    
    width:100%;
    max-width: 120rem;
    margin: 0 auto;
}

@media (min-width:798px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 5rem;
        margin-top: 5rem;
    }
    .tittle {
        font-size: 6rem;
        margin-top: 5rem;
        padding-top: 5rem;
    }
}

@media (min-width:1280px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 10rem;
        margin-top: 8rem;
    }
}