:root {
  --white: #FFF;
  --primary: #F59E0B;
  --blue: #093949;
}

html {
  font-size:62.5%;
}

body {
  font-family: "DM Serif Text", serif;
  background-image: url('/montain-blue.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white);
  font-size: 2rem;
}
