@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&display=swap');
@import "tailwindcss";

:root {
  --white: #ffffff;
  --primary: #F59E0B;
  --bg: #f8fafc;
  font-family: 'Poppins', Arial, sans-serif;
}

html {
  font-size:62.5%;
}
.text-primary {
  color: #093949;
}

body {
  font-size: 2rem;
}
.light-bg {
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(202,248,255,1) 0%, rgba(186,204,227,1) 51.2%, rgba(117,144,179,1) 100.1% );
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.dark-bg {
  background-image: radial-gradient(circle farthest-corner at 5% 20%, #537895 0%, #355070 51.2%, #09203f 100%);  
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.blur-card {
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  background: rgba(255,255,255,0.8);
  max-width: 100%;
  border-radius: 18px;
  box-shadow: 0 2px 16px rgba(0,0,0,0.12);
  padding: 35px 32px;
  text-align: center;
  color: #111;
  overflow: hidden;
  margin: 0;
}

.blur-bar {
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  background: rgba(255,255,255,0.8);
  border-radius: 12px;
  box-shadow: 0 2px 16px rgba(0,0,0,0.12);
  padding: 20px 16px;
  text-align: center;
  color: #111;
  overflow: hidden;
  margin: 0;
}